<!--
<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
    <div class="card-header">Nombre: {{articulo.nombre}}</div>
    <div class="card-body">
      <h5 class="card-title">Precio: {{articulo.precio}}</h5>
      <p class="card-text">Cantidad: {{articulo.cantidad}}</p>
    </div>
</div>-->
<li>
    <div class="alert alert-success" role="alert">
        <b>Nombre:</b> {{articulo.nombre}}, <b>Precio:</b> {{articulo.precio}}, <b>Cantidad:</b> {{articulo.cantidad}}
      </div>
</li>