<div	class="container content">
    <div	class="row">
        <div	class="col-md-6	offset-md-3">
            <div	class="card	card-outline-secondary">
                <div	class="card-header">
                    <h3	class="mb-0">Lista de Artículos</h3>
                </div>
                <div	class="card-body">
                    <form>
                        <div	class="form-group">
                            <label	for="nombre">Nombre del Artículo:</label>
                            <input	type="text"	class="form-control"	id="nombre"	placeholder="nombre" #nombre>
                        </div>
                        <div	class="form-group">
                            <label	for="Imagen	Url">Precio:</label>
                            <input	type="text"	class="form-control"	id="imagenUrl"	placeholder="precio" #precio>
                        </div>
                        <div	class="form-group">
                            <label	for="Imagen	Url">Cantidad:</label>
                            <input	type="text"	class="form-control"	id="imagenUrl"	placeholder="cantidad" #cantidad>
                        </div>
                        <button	type="submit"	class="btn	btn-primary" (click)="guardar(nombre.value, precio.value, cantidad.value)">Guardar!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <hr	class="mb-5">
    <div	class="row">
        <app-articulos *ngFor="let d of articulos" [articulo]="d"></app-articulos>
    </div>
</div>